<form action="#" phx-submit="add_todo">
  <%= text_input :todo, :title, placeholder: "Todo" %>
  <%= submit "Add", phx_disable_with: "Adding..." %>
</form>
<table>
  <%= for todo <- @todos do %>
    <tr class="<%= if(todo.done, do: "done", else: "not-done") %>">
      <td>
        <%= todo.title %>
      </td>
      <td>
        <%= todo.writer %>
      </td>
      <td>
        <%= checkbox(:todo, :done,value: todo.done, phx_value_id: todo.id, phx_click: "toggle_done") %>
      </td>
      <td>
        <%= link  to: "#", phx_value_id: todo.id, phx_click: "delete_todo" do %>
          <span class="link-button"> Remove </span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= if @name == @room_creator do %>
  <button phx-click="open_modal"> Invite people </button>
  <div class="modal modal-wrapper <%= if(@modal_active, do: "active", else: "deactive") %>">
    <div class="modal-content">
      <h2> Invite new people </h2>
      <%= form_for @changeset, "#", [phx_submit: "create_invitation"],  fn f -> %>
        <%= text_input f, :name, placeholder: "name" %>
        <%= submit "Add", phx_disable_with: "Adding..."%>
      <%= end %>
  </div>
  <div phx-click="close_modal" class="modal modal-overlay">
  </div>
</div>
<% end %>
