<h1> Rooms availiable </h1>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Creator
    </th>
    <th>
      Join
    </th>
    <th>
      Decline
    </th>
  </tr>
  <%= for room <- @rooms do %>
    <tr>
      <td> <%= room.name %> </td>
      <td> <%= room.creator %> </td>
      <td>
        <%= link  to: "#", phx_value_id: room.id, phx_click: "join_room" do %>
          <span class="link-button"> Join </span>
        <% end %>
      </td>
      <td>
        <%= link  to: "#", phx_value_id: room.id, phx_click: "delete_room" do %>
          <span class="link-button"> Decline </span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<div phx-click="open_modal">
  <button phx-click="open_modal"> Create new room </button>
</div>
  <div class="modal modal-wrapper <%= if(@modal_active, do: "active", else: "deactive") %>">
    <div class="modal-content">
      <h2> Create new room </h2>
      <%= form_for @changeset, "#", [phx_change: "validate", phx_submit: "add"],  fn f -> %>
        <%= text_input f, :name, placeholder: "name" %>
        <%= error_tag f, :name %>
        <%= submit "Add", phx_disable_with: "Adding...", disabled: !@changeset.valid? %>
      <%= end %>
    </div>
    <div phx-click="close_modal" class="modal modal-overlay">
    </div>
</div>
